
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

#body-estilo1 {
    min-height:100vh;
    background: linear-gradient(180deg, rgba(33,37,41,1) 50%, rgba(189,152,113,0.8186624991793592) 100%);
}

#body-estilo2 {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(189,152,113,0.8186624991793592) 0%, rgba(33,37,41,1) 50%);
}

#body-artigo {
    background-color: #bd9871;
    min-height: 100vh;
}

.btn1 {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background-color: #bd9871;
    color: white;
    border-radius: 4px;
}

.btn1:hover {
    background: white;
    border: 1px solid;
    color: #bd9871;

}

.btn2 {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background-color: white;
    color: black;
}

.btn2:hover {
    background: white;
    color: #bd9871;

}

.sobremim {
    background-color: #212529;
    display: flex;
    flex-direction: column;
}

.sub-sobremim img {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-top: 15%;
}


.subtitulo-sobremim p {
    font-size: 60px;
}


.transformacoes {
    background-color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sub-transformacoes img {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-top: 15%;
}

.titulo-subplano {
    color: #bd9871;
}

.slider-imagens {
    max-width: 700px;
}

.footer a {
    color: #efefef;
}

.footer a:hover {
    color: #bd9871;
}

.sub-sobremim {
    max-width: 700px;
}  

.sub-transformacoes {
    max-width: 700px;
}

.titulo-transformacoes {
    font-size: 40px;
}

.texto-transformacoes {
    font-size: 20px;
}

.camisola img{
    width: 512px;
    height: 379,2px;
}

.camisola a {
    color: #efefef;
}

.garrafa a {
    color: #efefef;
}

.artigos {
    display: flex;
    justify-content: center;    
    transition: 0.1s;
    box-shadow: 4px 1px 20px 1px rgba(0, 0, 0, 0.5);
    opacity: 0.90;
}

.artigos:hover {
    opacity: 85%;
    transform: scale(1.010);
    z-index: 2;
}

.artigos {
    transition: 0.1s;
    box-shadow: 4px 1px 20px 1px rgba(0, 0, 0, 0.5);
    opacity: 0.90;
}

.artigos:hover {
    opacity: 85%;
    transform: scale(1.010);
    z-index: 2;
}

.btn-artigo-selec {
    border:none;
    outline:none;
    height:40px;
    width:50%;
    background-color: #212529;
    color: #efefef;
    border-radius:4px;
}

.btn-artigo-selec:hover {
    background-color: #efefef;
    border: 1px solid;
    color: #212529;
}

.camisola img{
    width: 512px;
    height: 379,2px;
}

.linha{
    border-radius:30px;
}

.imagem-login img{
    border-top-left-radius:30px;
    border-top-right-radius:30px;
}

.formulario-login{
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}

.imagem-registar img{
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}

.formulario-registar{    
    border-top-left-radius:30px;
    border-top-right-radius:30px;  
}

@media (min-width:992px) {
    .sobremim {
        justify-content: center;
        flex-direction: row;
    }

    .transformacoes {
        justify-content: center;
        flex-direction: row;
    }

    .titulo-transformacoes {
        font-size: 60px;
    }

    .texto-transformacoes {
        font-size: 30px;
    }  

    .contentor{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    
    .imagem-login img {
        border-top-left-radius: 30px;
        border-top-right-radius:0px;
        border-bottom-left-radius: 30px;  
    }

    .formulario-login{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:30px;
        border-top-right-radius: 30px;  
    }
    
    .imagem-registar img {
        border-bottom-left-radius:0px;
        border-bottom-right-radius:30px;
        border-top-right-radius: 30px; 
    }

    .formulario-registar{
        border-top-left-radius: 30px;
        border-top-right-radius:0px;
        border-bottom-left-radius: 30px;
    }
}
